language: node_js

node_js:
  - 0.10.40

cache:
  directories:
    - $HOME/.meteor
    - $HOME/.npm

before_cache:
  - rm -f $HOME/.meteor/log/*.log

before_install:
  # Download Meteor
  - PATH=$PATH:$HOME/.meteor
  - if [ ! -e $HOME/.meteor/meteor ]; then curl https://install.meteor.com | sh; fi

  # Install spacejam
  - npm install -g coffee-script@1.8.0
  - npm install -g https://github.com/serut/spacejam/tarball/refactor coveralls
  - npm install -g eslint

script:
  - spacejam test-packages ./ --loglevel debug --coverage && cat lcov.info | coveralls
  - eslint .
